.FormTitle {
	font-size: larger;
	font-weight: bold;
	text-align: center;
	margin-top: -15px;
}
.smallbutton{
	font-size: small;
}
.x-field{
	font-size: small;
}
.x-form-fieldset-title {
    font-size: small;
}

.x-button-verysmall>.x-button-label{
	font-size: small;
}

.panel-noborder>.x-panel-body{
	border: 0px solid white;
	-webkit-box-shadow: none;
}
