.monelem_r_bookmark {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAACaUlEQVR42u3XvWsTYRzA8SdNm9RcfKtaS2vjG9oawaRSlIIUq9aXKKLg4KJL08VZ41/gVJwV2q2Li2PBMejUgksWhwxSoUPAvLVNSEubx++VHxzNUI1JniDeA58h4Y7v3T1PLncqm81qk5RSnfCofD6vTSJq7cRXV1e1SUR74VflclmbRDSEgNrY2NAmET0DS21vb2uDnHC1WtUGOeGtrS1tkBPe3NzUBjnhSqWiDXLC5n9OEl5fX9cGOWHzdy4JFwoFbZATNvwn4YbdsBt2w00I53I5bZAbdsNu2A3/tf/wXt3+x9tisagNat+bRPvDa2tr2qT2vy2WSiVt0D8cnp+f/7C8vPzDWJi7TzmRSLxh56dDQ0PxVCr1teVh+wxjsdgLdozhBibxaGlp6XPLwouLi1/C4fAzdppABOcQxhgeSLy54YWFhY9s/BDXMIzjOIgenMYV3J+dnX3feFjmc2Zm5q1c2qs4KzE/vOjCAZzEKO7Nzc29ayicyWR+xuPxBBvdxmWE5Cx98ChndGI/BjGCO3bcPui6w+l0+hvz+VwW0CUMICgRJ7o7HpTtopi0D1rifxZOJpOf7JWKcVyQ+QzAi72GFxb65WBvTk9Pv5L43mF7cdgrFGOyao+iGx2Q8dt4AH24iAniL50bTU2YJ4PS1NTUa764i1GcwiH4JFrP6MA+9CKM6/bPcGVl5fuuMIsoHYlEnvDhFqI4IYulq2Y+64134xiGMR6NRh/bLTkpS0lsVC5NH6za+Wwg7scRnMeIzH2/XBEVwmDNfDZreOBDDwbkah6GHyoIq3Y+WxAPSKsbXqW1botfPEuX8701hf4AAAAASUVORK5CYII=)
}

.monelem_r_bookmark_active {
	background-image:
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAA8CAYAAABxVAqfAAACgElEQVRYw+3YsU8TYRjH8S/X1AQW/V8YnVyMmwvEwObiII7uxMQRNUajMSFKjWBUEiPRQQWNmNQENRGVtneUUiz0pNhCKYX2bbk68FwFIlhQ35L03uSXW673eZ/neXvDGbdaqegM4AOajNaPoDNAM+AzfC2gM8BhwG8YLaAzwBHAX4+KpdXNoDPVw1WHVgNgsA5a48JOEXTmF6xAZ+oPV4qgMweg1Q13uKiA1lThOi0P9mAP9mAP9mAPbmS4yQc6U4UNP+jMAYAPgc7Uv2KfH3SmgVvdeBXv95WXKZPX/q621vh+IsTglSSj2uAXS3w+HiKQKjF91Wb0dJSBgoP6b3DBQV2zGT4zxUPAAr4C4ddZPnTFuL9X3KgVPRvjwaUkzwUNAROS8EiWsXMx+ucU6X8GzynSxya48SrLeyAiiQGzwAwQBazhLGNtJoFa8V3hYA7z6Bdu2oqwgJMCLgJ5IAfMy0ZMWxFuN7ldC74jHEjxttOiX7CwXG3Bymx80VgHVoGUiycVoXaT3mAOc09wwUGdj/OoO8FTmafb2pRU6aLucvEFYBqwkopQp8XAuxyRmuA5ReaURd9gmqCgpswxDayx5fvrluUABblvRn4X7bC4txNehcfzxNtM+sbzfJIqTSAh8yxuq3InvCj4N9l4tMPi7nWbl7+Fny3y5mSEPltt/DdlnklgGSjVgG7HM7JpC5jsSTLcO89juacCYNxJcbkrxoBg7jzngZU9omx6sJJOzcpzrYuzDAVS9MjGHONCgqFNaFwOyeou86wVLwHZTXi0O8ETKWjdkHlMyTUjh8Th75eLL8vY4rKJJaBkSIULsju1j9b+CS9LlT/EWQFKPwExMy7k+a6YgAAAAABJRU5ErkJggg==)
}

.monelem_r_bookmark {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background-repeat: no-repeat;
	-webkit-background-size: 50% 100%;
	-moz-background-size: 50% 100%;
	background-size: 50% 100%;

}
