.yellowText{
	color: #edb724;
}

.redText{
	color: #ed2437;
}

.blueText{
	color: #2479ed;
}

.whiteText{
	color: white;
}

.redBackGround{	
	background-color: #ed2437;
}

.blueBackGround{	
	background-color: #2479ed;
}

.yellowBackGround{
	background-color: #edb724;
}

.headerText{
	font-size: xx-large;
}

.subHeaderText{
	font-size: large;
}

.maxWidth{
	width : 100%;
}

.center{
	text-align: center;
}

.divButton{
	width : 100%;	
	vertical-align: middle;
	text-align: center;
	font-size: x-large;
	padding-top: 10px;
	padding-bottom: 10px;
}

.noneTextDecore{
	text-decoration: none;
}


.divHeader{
	width : 100%;	
	vertical-align: middle;
	font-size: large;
	height : 30px;
}

.listItem{
	text-align: center;
	vertical-align: center;
}

.imgbutton{
	width:30px;
	height:30px;
}

#ad{
	width:100%;
}