<!DOCTYPE html> 
<html> 
	<head> 
	<title>JOB AVAILABLE</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="css/jquery.mobile-1.0b2.min.css" />
	<link rel="stylesheet" href="css/jquery.mobile.datebox.min.css" />
	<link rel="stylesheet" href="css/app.css" />
	
	
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.mobile-1.0b2.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.lang.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.class.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="js/lib/jquery.mobile.datebox.min.js"></script>
	<script type="text/javascript" src="js/lib/iscroll-lite.js"></script>
	
	<script type="text/javascript" src="js/ajax.js"></script>
	
</head> 

<body>
<!-- Login page -->
<div data-role="page" id = "LoginPage" data-theme="d">
	<div data-role="content">	
		<p class = "yellowText headerText">JOB AVAILABLE</p>
		<p class = "redText subHeaderText"><label id="jobAvail">0</label> JOBS AVAILABLE</p>
		<p>WELCOME TO WAA, THE PLACE TO FIND AND POST JOB AVAILABILITY. IF YOU DO NOT HAVE AM ACCOUNT PLEASE SIGN UP AND GET STARTED POSTING JOBS</p>		
		<a href = "#EditAccountPage" id = "createAccount" data-role="none" class = "noneTextDecore"><div class = "divButton blueBackGround whiteText">CREATE NEW ACCOUNT</div></a>
		
		<div data-role="fieldcontain">
		    <label for="name" class = "yellowText subHeaderText">USERNAME</label>
		    <input class="inputText" type="text" name="name" id="name" class = "maxWidth subHeaderText" value="ADAM"  />	    
		    <label for="password" class = "yellowText subHeaderText">PASSWORD</label>
    		<input class="inputText" type="password" name="password" id="password" class = "maxWidth subHeaderText" value="PSW" />
		</div>
   		
		<a href = "" id = "login" data-role="none" class = "noneTextDecore"><div class = "divButton blueBackGround whiteText">LOGIN</div></a>
						
	</div><!-- /content -->
</div>
<!-- /Login page -->

<!-- Edit Account page -->
<div data-role="page" id = "EditAccountPage" data-theme="d">
	<div class = "divHeader yellowBackGround">
		<a href = "#LoginPage" data-role="none" class = "noneTextDecore whiteText" data-rel="back">BACK</a>
	</div>
		<div data-role="content">
	
		<div data-role="fieldcontain">
		    <label for="name" class = "yellowText subHeaderText">USERNAME</label><br />
		    <input class="inputText" type="text" name="name" id="name" /><br />
		    <label for="password" class = "yellowText subHeaderText">PASSWORD</label><br />
    		<input class="inputText" type="password" name="password" id="password" /><br />
    		<label for="firstname" class = "yellowText subHeaderText">FIRST NAME</label><br />
		    <input class="inputText" type="text" name="firstname" id="firstname" /><br />
		    <label for="lastname" class = "yellowText subHeaderText">LAST NAME</label><br />
		    <input class="inputText" type="text" name="lastname" id="lastname" /><br />
		    <label for="company"  class = "yellowText subHeaderText">COMPANY</label><br />
		    <input class="inputText" type="text" name="company" id="company" /><br />
   		    <label for="adr1" class = "yellowText subHeaderText">ADDRESS1</label><br />
		    <input class="inputText" type="text" name="adr1" id="adr1" /><br />
		    <label for="adr2" class = "yellowText subHeaderText">ADDRESS2</label><br />
		    <input class="inputText" type="text" name="adr2" id="adr2" /><br />
		    <label for="city"  class = "yellowText subHeaderText">CITY</label><br />
		    <input class="inputText" type="text" name="city" id="city" /><br />
   		    <label for="state" class = "yellowText subHeaderText">STATE</label><br />
		    <input class="inputText" type="text" name="state" id="state" /><br />
    		<label for="zip" class = "yellowText subHeaderText">ZIP</label><br />
		    <input class="inputText" type="text" name="zip" id="zip" /><br />
       		<label for="phone" class = "yellowText subHeaderText">PHONE NUMBER</label><br />
		    <input class="inputText" type="text" name="phone" id="phone" /><br />
         	<label for="email" class = "yellowText subHeaderText">EMAIL</label><br />
		    <input class="inputText" type="text" name="email" id="email" /><br />
		    <label for="url1" class = "yellowText subHeaderText">WEBSITE ADDRESS 1</label><br />
		    <input class="inputText" type="text" name="url1" id="url1" /><br />
    		<label for="url2" class = "yellowText subHeaderText">WEBSITE ADDRESS 2</label><br />
		    <input class="inputText" type="text" name="url2" id="url2" /><br />
		    <label for="vendor" class = "yellowText">VENDOR TYPE</label><br />			
			<select  name="vendor" id="vendor">
			</select><br />			
			<label for="region" class = "yellowText subHeaderText">REGION</label><br />
			<div  class = "left" style= "width: 60%;">
			<select name="region" id="region">
			</select></div><img  class = "right" src = "img/add.gif" id = "btnAddRegion" />
			<br /><br /><br /><br /><br /><br />
		    <ul datarole = "listview" id = "regonList">
			</ul>
			<br /><br />
			 <a id = "Save" class = "noneTextDecore"><div class = "divButton blueBackGround whiteText">SAVE</div></a>
		</div>
		
		<script id="vendorListItem" type="text/x-jquery-tmpl">
   			<option value="${VendorTypeID}">${VendorType}</option>
		</script>
		<script id="regionSelectItem" type="text/x-jquery-tmpl">
   			<option value="${RegionId}">${Region},${State}</option>
		</script>
		<script id="regionListItem" type="text/x-jquery-tmpl">
   	 		<li class = "listItem"><div>${Region}<img class = "right"  src = "img/remove.gif" data-messageId="${RegionVal}"></img></div></li>
		</script>
		
		</div><!-- /content -->
		
</div>
<!-- /Edit Account page -->


<!-- main page -->
<div data-role="page" id = "MainPage" data-theme="d">
	<div class = "divHeader yellowBackGround">
		<a href = "#EditAccountPage" data-role="none" class = "noneTextDecore whiteText settingButton">SETTINGS</a>		
	</div>
		<div data-role="content">
			<p class = "yellowText headerText">JOB AVAILABLE</p>
			<p class = "redText subHeaderText"><label id="jobAvail">0</label> JOBS AVAILABLE IN YOUR AREA</p>
			<p>FIND JOB ON THE DATES YOU ARE NOT BOOKED AND GATHER REFERRALS FOR THE DATES YOU ARE. BE A HERO TO YOU CLIENTS</p>		    
		    <a href = "#PostedJobPage" id = "PostJob" class = "noneTextDecore"><div class = "divButton redBackGround whiteText">POST JOB / VIEW POSTED</div></a>
		    <br />
		    <a href = "#AvailJobPage" id = "ViewAvail" class = "noneTextDecore"><div class = "divButton blueBackGround whiteText">VIEW AVAILABLE JOBS</div></a>
		</div><!-- /content -->
		
</div>
<!-- /main page -->


<!-- Avail Job page -->
<div data-role="page" id = "AvailJobPage" data-add-back-btn=”true” data-theme="d">
	<div class = "divHeader blueBackGround">
		<a href = "#LoginPage" data-role="none" class = "noneTextDecore whiteText" data-rel="back">BACK</a>
		<a href = "#EditAccountPage" data-role="none" class = "noneTextDecore whiteText settingButton">SETTINGS</a>
	</div>	
	<div data-role="content">
	<div id="wrapperAvailJobPage" class = "wrapper"><div id="scroller">
	<p class="smallText">THESE ARE THE DATES AVAILABLE IN YOUR REGIONS</p>
	<ul datarole = "listview" id = "jobList">
	</ul>
	</div></div>
	</div><!-- /content -->
	
	<img id = "ad"></img>
	
	
	<script id="jobListItem" type="text/x-jquery-tmpl">
   	 <li class = "listItem" data-messageId="${JobId}" job-date = "${JobDate}" job-region="${JobRegion}" job-desc="${JobDescription}">
		<div><img class = "left" src = "img/add.gif" data-messageId="${JobId}" avail="True"></img>${JobDate} ${JobRegion}<img class = "right"  src = "img/remove.gif" data-messageId="${JobId}" avail="False"></img></div>      
    </li>
	</script>
</div>
<!-- /Avail Job page -->

<!-- Posted Job page -->
<div data-role="page" id = "PostedJobPage" data-add-back-btn=”true” data-theme="d">
	<div class = "divHeader redBackGround">
		<a href = "#LoginPage" data-role="none" class = "noneTextDecore whiteText" data-rel="back">BACK</a>
		<a href = "#EditAccountPage" data-role="none" class = "noneTextDecore whiteText settingButton">SETTINGS</a>
	</div>		
	<div data-role="content">
	<div id="wrapperPostedJobPage" class = "wrapper"> 
	<div id="scroller">	
	<p class="smallText">THESE ARE THE DATES YOU ARE <b>NOT</b> AVAILABLE</p>	
	<ul datarole = "listview" id = "jobList" data-theme="d">		
	</ul>
	<br /><br /><br />	
    <a  href = "#AddDatePage" id = "AddDateNotAvail" class = "noneTextDecore"><div class = "divButton redBackGround whiteText">+ ADD DATE I'M NOT AVAILABLE</div></a>
	</div></div>
	</div><!-- /content -->
	
	  	
	<img id = "ad"></img>	
	
	
	<script id="jobListItem" type="text/x-jquery-tmpl">
   	 <li >
		<a href="#PeopleAvailPage" data-messageId="${JobId}" job-date = "${JobDate}" job-region="${JobRegion}">${JobDate} ${JobRegion} <span class="ui-li-count">${NumPeopleApplied}</span> </a>    
    </li>
	</script>
		
</div>
<!-- /Posted Job page -->


<!-- Add date page -->
<div data-role="page" id = "AddDatePage" data-add-back-btn=”true” data-theme="d">
	<div class = "divHeader redBackGround">
		<a href = "#LoginPage" data-role="none" class = "noneTextDecore whiteText" data-rel="back">BACK</a>
		<a href = "#EditAccountPage" data-role="none" class = "noneTextDecore whiteText settingButton">SETTINGS</a>
	</div>	
	<div data-role="content">
		<div data-role="fieldcontain">
		    <label for="date"  class = "yellowText">DATE OF JOB</label><br />
			<input class="inputText" type="date" name="date" id="date" value="" data-role="datebox" data-options='{"mode": "calbox", "disableManualInput": true}' readonly="true" />
			<br />
		    <label for="region" class = "yellowText">REGION</label><br />
			<select  name="region" id="region"></select><br />
			<label for="region" class = "yellowText">VENDOR TYPE(S) NEEDED</label><br />			
			<div id="vendortype">        
	     	</div><br />
			<label for="desc" class = "yellowText">DESCRIPTION</label><br />
			<input class="inputText" type="text" name="desc" id="desc" value=""  />
			<br />		
			<a href = "" id = "postDate" class = "noneTextDecore"><div class = "divButton redBackGround whiteText">POST DATE I'M NOT AVAIL.</div></a>
		</div>
		
	<script id="regionListItem" type="text/x-jquery-tmpl">
   		<option value="${RegionId}">
			${Region} - ${State}    
    	</option>
	</script>
	<script id="vendortypeItem" type="text/x-jquery-tmpl">
   		<div><label for="vd${VendorTypeID}">${VendorType}</label><input class="custom" type="checkbox" name="vd${VendorTypeID}" id="vd${VendorTypeID}"/></div>
	</script>	
	</div><!-- /content -->
		
</div>
<!-- /Add date page -->

<!-- People avail page -->
<div data-role="page" id = "PeopleAvailPage" data-add-back-btn=”true” data-theme="d">
	<div class = "divHeader redBackGround">
		<a href = "#LoginPage" data-role="none" class = "noneTextDecore whiteText" data-rel="back">BACK</a>
		<a href = "#EditAccountPage" data-role="none" class = "noneTextDecore whiteText settingButton">SETTINGS</a>
	</div>	
	<div data-role="content">
	<div id="wrapperPeopleAvailPage" class = "wrapper"><div id="scroller">
	<p>WE ARE AVAILABLE ON <label id="availDate"></label> IN <label id="availRegion"></label></p>	
	<ul datarole = "listview" id = "peopleList">		
	</ul>
	<br />
	<a href = "" id = "email" class = "noneTextDecore"><div class = "divButton redBackGround whiteText">EMAIL LIST TO YOURSELF</div></a>
	<script id="peopleListItem" type="text/x-jquery-tmpl">
   	 <li >
		<a href="#PeopleInfoPage" data-messageId="${UserId}">${Name}</a>    
    </li>
	</script>
	</div></div>	
	</div><!-- /content -->
	
	
	<img id = "ad"></img>
	
		
</div>
<!-- /People avail page -->

<!-- People info page -->
<div data-role="page" id = "PeopleInfoPage" data-theme="d">
	<div class = "divHeader redBackGround">
		<a href = "#LoginPage" data-role="none" class = "noneTextDecore whiteText" data-rel="back">BACK</a>
		<a href = "#EditAccountPage" data-role="none" class = "noneTextDecore whiteText settingButton">SETTINGS</a>
	</div>		
	<div data-role="content">
	<p>I AM AVAILABLE ON <label id="availDate"></label> IN <label id="availRegion"></label></p>
	<div id = "userInfo"></div>	
	<script id="infoTpl" type="text/x-jquery-tmpl">
		<p>${Name}</p>
		<p>${CompanyName}</p>
		<p>${Address1}</p>
		{{if $Address2}}<p>${Address2}</p>{{/if}}
		<p>${City}, ${State} ${Zip}</p>
		{{if $Phone}}<p>${Phone}</p>{{/if}}
		{{if $Email}}<p><a href="mailto:${Email}">${Email}</a></p>{{/if}}
		{{if $Url1}}<p><a href="${Url1}">${Url1}</a></p>{{/if}}
		{{if $Url1}}<p><a href="${Url2}">${Url2}</a></p>{{/if}}
	</script>
	
	</div><!-- /content -->
	
	<img id = "ad"></img>
	
		
</div>
<!-- /People info page -->

<script type="text/javascript" src="js/page.js"></script>
<script type="text/javascript" src="js/loginpage.js"></script>
<script type="text/javascript" src="js/editaccountpage.js"></script>
<script type="text/javascript" src="js/mainpage.js"></script>
<script type="text/javascript" src="js/availjobpage.js"></script>
<script type="text/javascript" src="js/postedjobpage.js"></script>
<script type="text/javascript" src="js/adddatepage.js"></script>
<script type="text/javascript" src="js/peopleavailpage.js"></script>
<script type="text/javascript" src="js/peopleinfopage.js"></script>
<script type="text/javascript" src="js/app.js"></script>

</body>
</html>