body{
	font-family: "Comic Sans MS";
	/*overflow: auto;*/
	height: 240px;
	width: 100%;
	margin : 0;
}

div {
	/*overflow: hidden;
	height: 240px;
	width: 100%;*/
	margin : 0;
}

a{text-decoration : none}
a:link {color: #ff0000}
a:visited {color: #ff0000}
a:active {color: #ff0000}
a:hover {color: #ff0000}

#splash{
	width: 100%;
	height: 90%;
}

#menu{
	visibility: hidden;
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	background: url("../img/tile.jpg");
}

#menu a{
	position: relative;
	left: 40%;
}

#wrap{
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;	
	width: 100%;
	height: 100%;
}

#content{
	padding-top: 20%;	
	top : 20%;
	left: 0;
	heigh: auto;
	text-align: center;
	overflow:auto;
}

#btnSave{
	position: absolute;
	top : 0;
	right:0;
}

.imgman1{
	position: absolute;
	bottom: 0;
	right: 0;
}

.imgman2{
	position: absolute;
	bottom: 30%;
	right: 20%;
}