body{
	font-family: "Comic Sans MS";
	overflow: hidden;
	height: 222px;
}

div {
	overflow: hidden;
	height: 222px;
}

a{text-decoration : none}
a:link {color: #ff0000}
a:visited {color: #ff0000}
a:active {color: #ff0000}
a:hover {color: #ff0000}

#splash{
	width: 100%;
	height: 90%;
}

#menu{
	visibility: hidden;
	position: absolute;
	left: 0;
	top:0;
	width: 100%;
	/*height: 100%;*/
	background: url("../img/tile.jpg");
}

#menu a{
	position: relative;
	left: 40%;
}

#wrap{
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 0;	
	width: 100%;
	/*height: 100%;*/
	overflow: auto;
	
	/*background: url('../img/face.jpg');
	background-repeat:no-repeat;
	background-position:left top;
	background-size: 100%;*/
}

#content{
	position: absolute;
	width: 100%;
	/*height: 100%;*/
	top : 40px;
	left: 0;	
	text-align: center;
}

#btnSave{
	position: absolute;
	top : 0;
	right:0;
}

#imgman{
	position: absolute;
	right: 0;
	bottom: 0;
}